/* font-family: 'Tinos', serif; */
/* font-family: 'Alice', serif; */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Tinos', serif;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    /* change action color */
}



/* MAIN STYLES */

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mark {
    color: #FF4B65;
    /* font-size: inherit; */
}

.btn {
    text-align: center;
    font-size: 30px;
    line-height:  106px;
    width: 353px;
    height: 106px;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 103px;
}

.title {
    font-size: 64px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
}

/* TOP */

.top {
    width: 100%;
    background-color: #FF4B65;
    position: relative;
}
.top::before {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background-image: url(./img/top-left.png);
}

.top__wrap {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top__wrap-right {
    display: flex;
    align-items: center;
}

.top__logo {
    min-height: 50px;
    min-width: 110px;
    background-color: red;
}

.top__title {
    max-width: 229px;
    /* проценты ? */
}

/* NAVIGATION */

.nav {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 0px 0px 10px 10px;
    font-size: 24px;
    padding: 21px 24px;
    position: absolute;
    left: 30px;
}


.nav__item {
    color: #CCCCCC;
    line-height: 28px;
    margin: 0 40px;
    /* найти замену line-height */
    /* для выравнивания по вертикали */
}

.nav__item:first-child{
    margin-left: 0;
}

.nav__item:last-child{
    margin-right: 0;
}



.nav__item:hover{
    color: #FF4B65;
}

/* HEADER */

.header {
    width: 100%;
    
    background-image: linear-gradient(to top, rgba(255, 225, 225, 0.8), rgba(255, 225, 225, 0.8)), url(./img/bg-header.png);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 148px;
}

.header__title {
    width: 68.83%;
    margin: 0 auto 56px auto;
}
/* change */
.header__title>.mark {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 120%;
    /* lheight */
}

.header__subsection {
    width: 94.25%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.header__subsection::after{
    content: '';
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 10px;
    border: 3px solid #CCCCCC;
}

.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(566px - 29px);
    z-index: 2;
}


.header__desc {
    width: calc(50% + 148px);
    /* padding-left: 148px; */
    padding-top: 43px;
    /* flex-shrink: -1; */
    /* padding-right: 44px; */
    display: flex;
    flex-direction: column;
    position: relative;
}


.header__desc .btn{
    margin-bottom: 23px;
}

.header__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 22px;
}

.header__svg {
    display: inline
}

.header__delivery {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-left: 65px;
    padding-bottom: 56px;
    color: #FF4B65;
    position: relative;
}

.header__delivery::before{
    content: '';
    width: 54px;
    height: 41px;
    position: absolute;
    top: -3px;
    left: -65px;
    background-size: contain;
    background-image: url(./img/svg/delivery.svg);
}

/* PRODUCTS */

.products {
    padding-bottom: 100px;
    background-color: #FF4B65;
    background-image: linear-gradient(to top, rgba(255, 75, 101, 0.9), rgba(255, 75, 101, 0.9)), url(./img/bg-products.png);
}

.products__title {
    width: 68.83%;
    padding-top: 50px;
    margin-bottom: 26px;
    color: #fff;
}

.products__slider {
    position: relative;
}

.products__slider-item {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 30px;    
    background-color: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    /* z-index: -1; */
}

.products__slider-item::before{
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    transform: rotate(-180deg);
    top: calc(50% - 24px);
    left: -78px;
    background-image: url(./img/svg/arrow.svg);
}

.products__slider-item::after{
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: calc(50% - 24px);
    right: -78px;
    background-image: url(./img/svg/arrow.svg);
}

/* переделать стрелки так как не работает наведение */
/* 
.products__slider-item:hover::before{
    cursor: pointer;
    opacity: 0.5;
} */


.products__left {
    width: 460px;
    margin-bottom: 35px;
}

.products__img {
    width: 460px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.products__row {
    display: flex;
    justify-content: center;
}

.products__row-item {
    width: 81px;
    height: 70px;
    margin: 8px 5px;
    border-radius: 5px;
    object-fit: cover;
}


.products__right {
    width: 348px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.products__right .btn {
    width: 348px;
    height: 84px;
    font-size: 20px;
    line-height: 84px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.products__subtitle {
    color: #FF4B65;
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
}

.products__desc {
    font-size: 20px;
    margin: 20px 0 15px 0;
}

.products__variety {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #CCCCCC;
}

.products__composition {
    display: flex;
    margin-bottom: 21px;
    margin-top: 16px;
}

.products__composition-item {
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 62px;
    margin: 0 10px;
    text-align: center;
}

.products__composition-item img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 4px;
    border-radius: 100%;
}

.products__btn-suptitle {
    color: #FD83BD;
    text-align: center;
    position: relative;
}

.products__btn-suptitle::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./img/svg/sun.svg);
    position: absolute;
    top: 0;
    left: 26px;
}

.products__dots{
    margin: 0 auto;
}

.products__list{
    list-style: none;
}

.products__dots-item{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border-radius: 100px;
    background-color: #E5E5E5;
}

.products__dots-item:last-child{
    margin-right: 0;
}

.active__dott {
    background-color: #FF4B65;
}

.products__img-bottom {
    position: absolute;
    bottom: -90px;
    right: -138px;
}

/* FLAVOR */

.flavor{
    width: 100%;
    color: white;
    font-size: 24px;
    padding-top: 50px;
}

.flavor__wrap {
    width: 644px;
    height: 644px;
    border-radius: 100%;
    border: 3px solid red;
    position: relative;
    margin: 0 auto;
}

.flavor__title {
    width: 1029px;
    color: black;
    margin-bottom: 77px;
}

.flavor__title, .mark {
    font-size: 64px;
}

.flavor__img{
    width: 644px;
    height: 644px;
    display: block;
    position: relative;
    margin: 0 auto;
    /* background-color: rgb(147, 236, 119); */
}

 
.flavor__notice {
    position: absolute;
    min-width: 422px;
    height: 123px;
    background-color: #FF4B65; 
    border-radius: 20px;
}

.flavor__round {
    width: 65px;
    height: 65px;
    z-index: 2;
    /* сделать прозрачный бордер */
    border: 8px solid rgba(0, 0, 0, 0.099);
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
}

.flavor__round-img {
    margin: 13px;
}

.icon-2 .flavor__round-img{
    margin: 11px;
}

.icon-3 .flavor__round-img{
    margin: 15px 16px;
}

.flavor__desc {
    text-align: center;
    max-width: 376px;
    height: 78px;
    padding: 23px;
    font-size: 24px;
    line-height: 28px;
}

.flavor__desc::after{
    content: '';
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    /* z-index: 1; */
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.flavor__desc-bold {
    font-size: 24px;
    font-weight: bold;
}

.icon-1 {
    bottom: -35px;
    right: -35px;
}

.icon-2{
    bottom: -33px;
    left: -35px;
}

.icon-3{
    top: -45px;
    right: -37px;
}

.icon-4{
    top: -45px;
    left: -37px;
}


.first {
    top: 70px;
    left: -192px;
}

.second {
    top: 30px;
    right: -193px;
}

.third {
    bottom: 82px;
    left: -192px;
}

.fourth {
    bottom: 134px;
    right: -193px;
}

/* VIDEO */

.video {
    display: flex;
    flex-direction: column;
    width: 1010px;
    margin: 0 auto;
    justify-content: center;
    color: #fff;
    background-color: red;
    text-align: right;
}

.video__title {
    width: 696px;
    align-self: flex-end;
    font-family: 'Alice', serif;
    font-weight: normal;
    font-size: 64px;
}

.video__right {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    
    
}

.video__btn {
    display: block;
    min-width: 225px;
    min-height: 225px;
    border-radius: 100%;
    background-color: #FD83BD;

}

.video__desc {
    width: 400px;
    font-size: 36px;
}

/* ORDER */

.order {
    display: flex;
    /* width: 1010px; */
    /* justify-content: center; */
    margin: 0 auto;
    margin-top: 50px;
}

.order__form {
    width: 380px;
    margin-right: 110px;
    border-radius: 25px;
    padding: 40px;
    border: 1px solid red;
    background-color: red;
}

.order__title {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

.order__title-bold {
    font-weight: bold;
    font-size: 28px;
}

.order__social {
    text-align: center;
    margin-bottom: 25px;
    /* width: 100%; */
}

.order__suptitle {
    display: block;
    color: #ccc;
    font-size: 18px;
    margin-bottom: 12px;
}

.order__wrap {
    display: flex;
    justify-content: space-around;
}

.order__wrap img {
    width: 38px;
    height: 38px;
    background-color: yellow;
    margin: 0 auto;
}

.order__item {
    display: flex;
    flex-direction: column;
}

.order__form form {
    width: 100%;
    text-align: center;
    
}

.order__input {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 32px 0 32px 0;
    border: none;
    border-radius: 100px;
}

.order__btn {
    width: 320px;
    height: 106px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    border: none;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 103px;
}

.order__rules {
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

.order__img {
    width: 460px;
    min-height: 50px;
    border-radius: 54px;
    background-color: blue;
    position: relative;
}

.order__img-bg {
    top: -30px;
    width: 480px;
    left: -116px;
    position: absolute;
}

/* ADVICE */

.advice {
    max-width: 1010px;
    margin: 0 auto;
    padding: 50px 0;
}

.advice__title{
    color: #FF4B65;
}

.advice__title > span {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    color: black;
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.advice__border {
    margin-bottom: 40px;
}

.advice__border:last-of-type {
    margin-bottom: 0;
}

.advice__item{
    display: flex;
    margin-bottom: 40px;
}


.advice__item:nth-child(5){
    flex-direction: row-reverse;
    text-align: right;
}


.advice__img {
    width: 500px;
    height: 370px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: yellow;
}

/* улучшить выборку nth-child */

.advice__item:nth-child(5) > .advice__img {
    margin-left: 50px;
    margin-right: 0;
}

.advice__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    min-height: 370px;
}

.advice__desc > * {
    font-size: 36px;
}

.advice__suptitle {
    color: #FF4B65;
}

/* FAST-ORDER */

.fast-order {
    background-image: linear-gradient(to top, rgba(255, 75, 101, 0.9), rgba(255, 75, 101, 0.9)), url(./img/fast-order-bg.png);
    /* background-color: #F20F30; */
    color: white;
    padding-top: 46px;
    padding-bottom: 150px;
}

.fast-order .btn{
    width: 300px;
    height: 90px;
    margin: 0 auto 0 auto;
    line-height: 90px;
}

.fast-order__title {
    line-height: 77px;
    max-width: 817px;
}

.fast-order__subtitle {
    width: 849px;
    margin: 0 auto;
    margin-bottom: 34px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #F20F30;
    background-color: rgb(255, 255, 255);
}


.fast-order__slider {
    display: flex;
    justify-content: center;
}

.fast-order__cart {
    display: flex;
    flex-direction: column;
    width: 350px;
    /* border: 5px solid black; */
    border-radius: 25px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 14px 14px 40px 14px;
    margin-right: 15px;
}

.fast-order__img {
    width: 343px;
    height: 230px;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.fast-order__name {
    color: #FF4B65;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #E5E5E5;
}

.fast-order__suptitle, .fast-order__size-title{
    font-size: 18px;
    color: #ccc;
    margin-bottom: 5px;
}

.fast-order__composition {
    font-size: 20px;
    margin-bottom: 5px;
}

.fast-order__size {
    font-size: 20px;
    margin-bottom: 15px;
}


/* MAIN-ORDER */

.main-form {
    display: flex;
    color: #fff;
    width: 1150px;
    margin:  124px auto 70px auto;
    background-color: #FD83BD;
    padding: 50px;
    border-radius: 25px;
    /* background-image: linear-gradient (to top, rgba (89,106,114, 0.6), rgba (206,220,23, 0.4)), url(./fog.jpg); */
}

.main-form__left {
    
}

.main-form__left .title{
    width: 500px;
    text-align: left;
    line-height: 76.8px;
    margin-bottom: 20px;
}

.main-form__desc {
    font-size: 24px;
    line-height: 28.8px;
}

.main-form__right{
    margin-left: 60px;
}

.main-form__form {
    display: flex;
    flex-wrap: wrap;
}

.main-form__input {
    width: 230px;
    height: 60px;
    padding: 19px;
    
}

.main-form__input:nth-child(1){
    margin-right: 9px;
}

.main-form__input, .main-form__textarea{
    border-radius: 5px;
    border: none;
    background-color: #F8F8F8;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.main-form__textarea {
    width: 469px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
}

.main-form__btn {
    width: 230px;
    height: 66px;
    margin: 15px 36px 10px 0;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FFFFFF 0%, #EEEEEE 100%);
    box-shadow: 0px 4px 0px #C2C2C2, 0px 32px 20px -25px rgba(255, 255, 255, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: none;
    color:#FF4B65;
    text-shadow: 1px 1px 0px #FFFFFF;
}


.main-form__contacts {
    display: flex;
    flex-wrap: wrap;
}

.main-form__phone {
    display: block;
    font-size: 24px;
    line-height: 120%;
    width: 176px;
    margin-top: 21px;
    /* flex-grow: 1; */
}

.main-form__society {
    width: 23px;
    height: 23px;
    margin-left: 8px;
}

/* CLIENTS */


.clients__title {
    width: 780px;
    height: 154px;
}

.clients__inner {
    width: 303px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.clients__phone {
    position: relative;
}


.clients__camera {
    position: absolute;
    top: 6.5px;
    left: 8.5px;
    z-index: 100;
}

.clients__screen {
    position: absolute;
    top: 19px;
    left: 22px;
    z-index: 1000;
}

.faq {
    margin-top: 50px;
}

/* FAQ */

.faq__title{}

.faq__item {
    width: 1010px;
    height: 101px;
    position: relative;
    padding: 30px 0;
    margin: 20px auto;
    background: #FF4B65;
    border-radius: 15px;
    color: #fff;
}

.faq__item:nth-child(4){
    height: 259px;
}

.faq__icon{
    position: absolute;
}

.faq__question {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    /* margin: 0 102px 0 80px; */
    padding-left: 80px;
    padding-right: 102px;
}

.faq__answer {
    width: 828px;
    margin: 30px 102px 30px 80px;
    font-size: 24px;
    line-height: 28px;
    color:  #FFE1E7;
}

/* STEPS */

.steps {
    background-color: #FD83BD;
    padding-top: 50px;
    padding-bottom: 93px;
}

.steps__title {
    margin-bottom: 50px;
}

.steps__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.steps__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 215px;
    height: 300px;
    margin: 0 15px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    text-align: center;
}

.steps__item svg {
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 21px;
}

.steps__number{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    left: calc( 50% - 20px);
    line-height: 40px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.steps__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 8px;
    border-bottom: 0.5px solid #E5E5E5;
}

.steps__desc {
    margin: 15px 14px 20px 14px;
}

.steps__desc a {
    color: #FD83BD !important;
    text-decoration: underline;
}


/* END */

.end {
    display: flex;
    width: 1141px;
    /* height: 570px; */
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}

.end__title {
    text-align-last: left;
    margin-left: 0;
    margin: 69px 0 20px 0;
}

.end__desc {
    width: 612px;
    height: 123px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 30px;
}


.end__desc span{
    color: #FD83BD;
    font-size: 36px;
    line-height: 41px;
    font-weight: bold;
}

.end__btn {
    width: 336px;
    height: 106px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 157px;
}

.end__img {
    width: 892px;
    height: 570px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* FOOTER */

.footer {
    width: 100%;
    padding:  55px 0;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    color: #fff;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}

.footer ul>li {
    list-style: none;
}

.footer__right-item {
    margin-bottom: 17px;
}

.footer__img {
    height:  88px;
    width: 194px;
}

.footer__left {
    text-align: right;
}

.footer__left-phone {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 3px;
}

.footer__left-action{
    margin-bottom: 10px;
}

.footer__left-action a{
    text-decoration: dotted;
}

.footer__left-mail {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.footer__left-address {
    font-size: 20px;
    font-weight: bold;
}
