/* font-family: 'Tinos', serif; */
/* font-family: 'Alice', serif; */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Tinos', serif;
}

a {
    text-decoration: none;
    color: white;
    /* change action color */
}



/* MAIN STYLES */

.container {
    max-width: 1200px;
    /* min-height: 10px; */
    margin: 0 auto;
    /* background-color: gray; */
}

.mark {
    color: #FF4B65;
    font-size: inherit;
}

.btn {
    text-align: center;
    font-size: 30px;
    line-height:  106px;
    width: 353px;
    height: 106px;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 103px;
}

.title {
    font-size: 64px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
}

/* TOP */

.top {
    width: 100%;
    background-color: #FF4B65;
}

.top__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top__wrap-right {
    display: flex;
    align-items: center;
}

.top__logo {
    min-height: 50px;
    min-width: 110px;
    background-color: red;
}

.top__title {
    max-width: 229px;
}

/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 0px 0px 10px 10px;
    font-size: 24px;
}

.nav__item {
    color: #CCCCCC;
    margin: 21px 0;
    line-height: 28px;
}

.nav__item:first-child{
    margin-left: 24px;
}

.nav__item:last-child {
    margin-right: 24px;
}

.nav__item:hover{
    color: #FF4B65;
}

/* HEADER */

.header {
    width: 100%;
}

.header__title {
    width: 68.83%;
    margin: 20px auto 56px auto;
}
/* change */
.header__title, .header__title>.mark {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 120%;
}

.header__subsection {
    width: 94.25%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0 auto;
}

.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(566px - 29px);
}


.header__desc {
    width: calc(50% + 148px);
    padding-left: 148px;
    display: flex;
    flex-direction: column;
}

.header__desc .btn{
    margin-top: 22px;
    margin-bottom: 23px;
}

.header__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 120%;
    margin-top: 43px;
    margin-bottom: 22px;
}

.header__delivery {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-left: 65px;
    color: #FF4B65;
}

/* PRODUCTS */

.products {
    width: 100%;
    margin-top: 350px;
    background-color: rgb(165, 119, 119);
}

.products__title {
    width: 68.83%;
}

.products__slider {
    display: flex;
    width: 1010px;
    margin: 0 auto;
    background-color: rgb(216, 135, 135);
}

.products__left {
    width: 50%;
    /* height: 300px; */
    background-color: red;
}

.products__img {
    width: 460px;
    /* height: 400px; */
}

.products__row {
    display: flex;
    justify-content: space-between;
}

.products__row-item {
    width: 80px;
    height: 80px;
}

.products__right {
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.products__subtitle {
    color: #FF4B65;
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
}

.products__desc {
    margin: 20px 0 15px 0;
}

.products__variety {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #CCCCCC;
}

.products__composition {
    display: flex;
    justify-content: space-between;
}

.products__composition-item {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.products__composition-item img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.products__btn-suptitle {
    color: #FD83BD;
}

/* FLAVOR */

.flavor{
    width: 100%;
    color: white;
    font-size: 24px;
}

.flavor__wrap {
    width: 644px;
    height: 644px;
    background-color: rgb(145, 105, 105);
    position: relative;
    margin: 0 auto;
}

.flavor__title {
    width: 1029px;
    color: black;
}

.flavor__title, .mark {
    font-size: 64px;
}

.flavor__img{
    width: 644px;
    height: 644px;
    display: block;
    margin: 0 auto;
    background-color: rgb(147, 236, 119);
}
 
.flavor__notice {
    position: absolute;
    min-width: 422px;
    height: 123px;
    background-color: #FF4B65; 
    border-radius: 20px;
}   

.flavor__round {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: rgb(1, 26, 250);
    position: absolute;
}

.flavor__desc {
    max-width: 376px;
    height: 78px;
    margin: 0 auto; 
    z-index: -10;
    padding: 23px;
    font-weight: 700;
    line-height: 28px;
}

.icon-1 {
    bottom: -27px;
    right: -27px;
}

.icon-2{
    bottom: -25px;
    left: -27px;
}

.icon-3{
    top: -37px;
    right: -29px;
}

.icon-4{
    top: -37px;
    left: -29px;
}


.first {
    top: 70px;
    left: -192px;
}

.second {
    top: 30px;
    right: -193px;
}

.third {
    bottom: 82px;
    left: -192px;
}

.fourth {
    bottom: 134px;
    right: -193px;
}

/* VIDEO */

.video {
    display: flex;
    flex-direction: column;
    width: 1010px;
    margin: 0 auto;
    justify-content: center;
    color: #fff;
    background-color: red;
    text-align: right;
}

.video__title {
    width: 696px;
    align-self: flex-end;
    font-family: 'Alice', serif;
    font-weight: normal;
    font-size: 64px;
}

.video__right {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    
    
}

.video__btn {
    display: block;
    min-width: 225px;
    min-height: 225px;
    border-radius: 100%;
    background-color: #FD83BD;

}

.video__desc {
    width: 400px;
    font-size: 36px;
}

/* ORDER */

.order {
    display: flex;
    width: 1010px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.order__form {
    width: 460px;
    margin-right: 110px;
    border-radius: 25px;
    background-color: red;
}

.order__title {
    margin: 40px 40px 30px 40px;
}

.order__social {
    text-align: center;
}

.order__wrap {
    display: flex;
    justify-content: space-around;
}

.order__wrap img {
    width: 38px;
    height: 38px;
    background-color: yellow;
    margin: 0 auto;
}

.order__item {
    display: flex;
    flex-direction: column;
}

.order__form form {
    width: 100%;
    text-align: center;
    
}

.order__form form input {
    width: 380px;
    height: 90px;
    margin: 25px 0 30px 0;
    padding: 32px;
    border: none;
    border-radius: 100px;
}

.order__btn {
    width: 320px;
    height: 106px;
    font-size: 30px;
    color: #fff;
    border: none;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 103px;
}

.order__rules {
    margin: 20px 79px 46px 79px;
}

.order__img {
    width: 460px;
    min-height: 50px;
    border-radius: 54px;
    background-color: blue;
}

/* ADVICE */

.advice {
    max-width: 1010px;
    margin: 0 auto;
}

.advice__title{
    color: #FF4B65;
}

.advice__title > span {
    color: black;
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
}

.advice__item{
    display: flex;
    margin: 40px 0;
}

.advice__item:nth-child(3){
    flex-direction: row-reverse;
    text-align: right;
}


.advice__img {
    width: 500px;
    height: 370px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: yellow;
}

.advice__item:nth-child(3) > .advice__img {
    margin-left: 50px;
    margin-right: 0;
}

.advice__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    min-height: 370px;
}

.advice__desc > * {
    font-size: 36px;
}

.advice__suptitle {
    color: #FF4B65;
}

/* FAST-ORDER */

.fast-order {
    background-color: #F20F30;
    color: white;
}

.fast-order .btn{
    width: 300px;
    height: 90px;
    margin: 15px auto 40px auto;
    line-height: 90px;
}

.fast-order__title {
    line-height: 77px;
    max-width: 817px;
}

.fast-order__subtitle {
    width: 849px;
    margin: 0 auto;
    margin-bottom: 34px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #F20F30;
    background-color: rgb(255, 255, 255);
}


.fast-order__slider {
    display: flex;
    justify-content: space-between;
}

.fast-order__cart {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 5px solid black;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 10px 8px;
}

.fast-order__img {
    width: 318px;
    height: 230px;
    margin: 0 auto;
}

.fast-order__name {
    color: #FF4B65;
    padding-bottom: 15px;
    border-bottom: 2px solid #E5E5E5;
}